In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2

In [2]:
from secrets import username, password

In [3]:
#url for draft and combine (2016-2020)

combine2020 = 'https://www.pro-football-reference.com/draft/2020-combine.htm#combine'
combine2019 = 'https://www.pro-football-reference.com/draft/2019-combine.htm'
combine2018 = 'https://www.pro-football-reference.com/draft/2018-combine.htm'
combine2017 = 'https://www.pro-football-reference.com/draft/2017-combine.htm'
combine2016 =  'https://www.pro-football-reference.com/draft/2016-combine.htm'
draft2020 = 'https://en.wikipedia.org/wiki/2020_NFL_Draft'
draft2019 = 'https://en.wikipedia.org/wiki/2019_NFL_Draft'
draft2018 = 'https://en.wikipedia.org/wiki/2018_NFL_Draft'
draft2017 = 'https://en.wikipedia.org/wiki/2017_NFL_Draft'
draft2016 = 'https://en.wikipedia.org/wiki/2016_NFL_Draft'

In [4]:
combine_2020 = pd.read_html(combine2020)
combine_2019 = pd.read_html(combine2019)
combine_2018 = pd.read_html(combine2018)
combine_2017 = pd.read_html(combine2017)
combine_2016 = pd.read_html(combine2016)
draft_2020 = pd.read_html(draft2020)
draft_2019 = pd.read_html(draft2019)
draft_2018 = pd.read_html(draft2018)
draft_2017 = pd.read_html(draft2017)
draft_2016 = pd.read_html(draft2016)

In [5]:
type(combine_2020)

list

In [6]:
len(combine_2020)

1

In [7]:
combinedf2020 = combine_2020[0]
combinedf2019 = combine_2019[0]
combinedf2018 = combine_2018[0]
combinedf2017 = combine_2017[0]
combinedf2016 = combine_2016[0]
draftdf2020 = draft_2020[4]
draftdf2019 = draft_2019[4]
draftdf2018 = draft_2018[4]
draftdf2017 = draft_2017[4]
draftdf2016 = draft_2016[4]

In [8]:
combinedf2020

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr)
0,Trey Adams,OL,Washington,College Stats,6-8,318,5.60,24.5,NaN,92,NaN,NaN,NaN
1,Hakeem Adeniji,OL,Kansas,College Stats,6-4,302,5.17,34.0,26,115,NaN,NaN,Cincinnati Bengals / 6th / 180th pick / 2020
2,McTelvin Agim,DL,Arkansas,College Stats,6-3,309,4.98,NaN,27,NaN,NaN,NaN,Denver Broncos / 3rd / 95th pick / 2020
3,Salvon Ahmed,RB,Washington,College Stats,5-11,197,4.62,34.5,NaN,120,NaN,NaN,NaN
4,Brandon Aiyuk,WR,Arizona State,College Stats,6-0,205,4.50,40.0,11,128,NaN,NaN,San Francisco 49ers / 1st / 25th pick / 2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,D.J. Wonnum,DL,South Carolina,College Stats,6-5,258,4.73,34.5,20,123,7.25,4.44,Minnesota Vikings / 4th / 117th pick / 2020
339,Dom Wood-Anderson,TE,Tennessee,College Stats,6-4,261,4.92,35.0,NaN,119,NaN,NaN,NaN
340,David Woodward,LB,Utah State,College Stats,6-2,230,4.79,33.5,16,114,7.34,4.37,NaN
341,Chase Young,DL,Ohio State,College Stats,6-5,264,NaN,NaN,NaN,NaN,NaN,NaN,Washington Football Team / 1st / 2nd pick / 2020
342,Jabari Zuniga,DL,Florida,College Stats,6-3,264,4.64,33.0,29,127,NaN,NaN,New York Jets / 3rd / 79th pick / 2020

In [9]:
combine_df_2020 = combinedf2020.drop(columns = ['Drafted (tm/rnd/yr)', 'College'], axis=1)
combine_df_2019 = combinedf2019.drop(columns = ['Drafted (tm/rnd/yr)', 'College'], axis=1)
combine_df_2018 = combinedf2018.drop(columns = ['Drafted (tm/rnd/yr)', 'College'], axis=1)
combine_df_2017 = combinedf2017.drop(columns = ['Drafted (tm/rnd/yr)', 'College'], axis=1)
combine_df_2016 = combinedf2016.drop(columns = ['Drafted (tm/rnd/yr)', 'College'], axis=1)

combine_df_2020

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Trey Adams,OL,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN
1,Hakeem Adeniji,OL,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN
2,McTelvin Agim,DL,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN
3,Salvon Ahmed,RB,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN
4,Brandon Aiyuk,WR,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
338,D.J. Wonnum,DL,South Carolina,6-5,258,4.73,34.5,20,123,7.25,4.44
339,Dom Wood-Anderson,TE,Tennessee,6-4,261,4.92,35.0,NaN,119,NaN,NaN
340,David Woodward,LB,Utah State,6-2,230,4.79,33.5,16,114,7.34,4.37
341,Chase Young,DL,Ohio State,6-5,264,NaN,NaN,NaN,NaN,NaN,NaN
342,Jabari Zuniga,DL,Florida,6-3,264,4.64,33.0,29,127,NaN,NaN

In [10]:
draftdf2016 = draftdf2016.drop(columns = ['Notes', 'Unnamed: 0'])
draftdf2016 = draftdf2016.drop(columns = ['NFL team'])
draftdf2016 = draftdf2016.rename(columns = {"Pick #": "Pick_no"})

In [11]:
draftdf2017 = draftdf2017.drop(columns = ['Notes', 'Unnamed: 0', 'NFL team'])
draftdf2017 = draftdf2017.rename(columns = {"Pick #": "Pick_no"})

In [12]:
draftdf2018 = draftdf2018.drop(columns = ['Notes', 'Unnamed: 0', 'NFL team'])
draftdf2018 = draftdf2018.rename(columns = {"Pick #": "Pick_no"})

In [13]:
draftdf2019 = draftdf2019.drop(columns = ['Notes', 'Unnamed: 0', 'NFL team'])
draftdf2019 = draftdf2019.rename(columns = {"Pick #": "Pick_no"})

In [14]:
draftdf2020 = draftdf2020.drop(columns = ['Notes', 'Unnamed: 0', 'NFL team'])
draftdf2020 = draftdf2020.rename(columns = {"Pick #": "Pick_no"})

In [15]:
draft_df_2020 = draftdf2020
draft_df_2019 = draftdf2019
draft_df_2018 = draftdf2018
draft_df_2017 = draftdf2017
draft_df_2016 = draftdf2016
draft_df_2016

    Rnd.  Pick_no                 Player Pos.             College    Conf.
0      1      1.0           Jared Goff †   QB          California   Pac-12
1      1      2.0         Carson Wentz †   QB  North Dakota State     MVFC
2      1      3.0            Joey Bosa †   DE          Ohio State  Big Ten
3      1      4.0      Ezekiel Elliott †   RB          Ohio State  Big Ten
4      1      5.0         Jalen Ramsey †   CB       Florida State      ACC
..   ...      ...                    ...  ...                 ...      ...
252    7    249.0  Prince Charles Iworah   CB    Western Kentucky    C-USA
253    7    250.0          Scooby Wright   LB             Arizona   Pac-12
254    7    251.0             Joe Walker   LB              Oregon   Pac-12
255    7    252.0          Beau Sandland   TE       Montana State  Big Sky
256    7    253.0             Kalan Reed   CB       Southern Miss    C-USA

[257 rows x 6 columns]

In [16]:
draft_df_2020['year']='2020'
draft_df_2019['year']='2019'
draft_df_2018['year']='2018'
draft_df_2017['year']='2017'
draft_df_2016['year']='2016'
combine_df_2020['year']='2020'
combine_df_2019['year']='2019'
combine_df_2018['year']='2018'
combine_df_2017['year']='2017'
combine_df_2016['year']='2016'
draft_df_2016

,Rnd.,Pick_no,Player,Pos.,College,Conf.,year
0,1,1.0,Jared Goff †,QB,California,Pac-12,2016
1,1,2.0,Carson Wentz †,QB,North Dakota State,MVFC,2016
2,1,3.0,Joey Bosa †,DE,Ohio State,Big Ten,2016
3,1,4.0,Ezekiel Elliott †,RB,Ohio State,Big Ten,2016
4,1,5.0,Jalen Ramsey †,CB,Florida State,ACC,2016
...,...,...,...,...,...,...,...
252,7,249.0,Prince Charles Iworah,CB,Western Kentucky,C-USA,2016
253,7,250.0,Scooby Wright,LB,Arizona,Pac-12,2016
254,7,251.0,Joe Walker,LB,Oregon,Pac-12,2016
255,7,252.0,Beau Sandland,TE,Montana State,Big Sky,2016
256,7,253.0,Kalan Reed,CB,Southern Miss,C-USA,2016

In [17]:
combine_df = combine_df_2020.append(combine_df_2019,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combine_df_2018,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combine_df_2017,ignore_index=True,verify_integrity=True)
combine_df = combine_df.append(combine_df_2016,ignore_index=True,verify_integrity=True)
combine_df = combine_df.rename(columns = {'Player': 'player'})
combine_df = combine_df.drop(columns = {'Pos'})
combine_df

,player,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year
0,Trey Adams,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020
1,Hakeem Adeniji,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN,2020
2,McTelvin Agim,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020
3,Salvon Ahmed,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020
4,Brandon Aiyuk,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...
1694,Daryl Worley,West Virginia,6-1,204,4.64,35.5,14,123,6.98,4.15,2016
1695,Connor Wujciak,Boston Col.,6-2,291,4.91,34.5,22,117,7.32,4.27,2016
1696,Tavon Young,Temple,5-9,183,4.46,34.5,9,118,6.80,3.93,2016
1697,Avery Young,Auburn,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,2016
1698,Anthony Zettel,Penn State,6-4,277,4.81,30.5,28,109,7.63,4.39,2016

In [19]:
draft_df = draft_df_2020.append(draft_df_2019,ignore_index=True,verify_integrity=True)
draft_df = draft_df.append(draft_df_2018,ignore_index=True,verify_integrity=True)
draft_df = draft_df.append(draft_df_2017,ignore_index=True,verify_integrity=True)
draft_df = draft_df.append(draft_df_2016,ignore_index=True,verify_integrity=True)
draft_df = draft_df.rename(columns = {"Pos.": "Pos", "College": "School", "Conf.": "Conf", "Rnd.": "Rnd","Player":"player"})
draft_df = draft_df.drop(columns = ['Pos'])
draft_df

     Rnd  Pick_no                 player            School     Conf  year
0      1      1.0             Joe Burrow               LSU      SEC  2020
1      1      2.0          Chase Young †        Ohio State  Big Ten  2020
2      1      3.0            Jeff Okudah        Ohio State  Big Ten  2020
3      1      4.0          Andrew Thomas           Georgia      SEC  2020
4      1      5.0         Tua Tagovailoa           Alabama      SEC  2020
...   ..      ...                    ...               ...      ...   ...
1277   7    249.0  Prince Charles Iworah  Western Kentucky    C-USA  2016
1278   7    250.0          Scooby Wright           Arizona   Pac-12  2016
1279   7    251.0             Joe Walker            Oregon   Pac-12  2016
1280   7    252.0          Beau Sandland     Montana State  Big Sky  2016
1281   7    253.0             Kalan Reed     Southern Miss    C-USA  2016

[1282 rows x 6 columns]

In [20]:
player = combine_df['player']
school = combine_df['School']

combine_player_df = {"player":player,
                "school":school}
combine_player_df = pd.DataFrame(combine_player_df)
combine_player_df

              player         school
0         Trey Adams     Washington
1     Hakeem Adeniji         Kansas
2      McTelvin Agim       Arkansas
3       Salvon Ahmed     Washington
4      Brandon Aiyuk  Arizona State
...              ...            ...
1694    Daryl Worley  West Virginia
1695  Connor Wujciak    Boston Col.
1696     Tavon Young         Temple
1697     Avery Young         Auburn
1698  Anthony Zettel     Penn State

[1699 rows x 2 columns]

In [21]:
player = draft_df['player']
school = draft_df['School']

draft_player_df = {"player":player,
                "school":school}
draft_player_df = pd.DataFrame(draft_player_df)
draft_player_df

                     player            school
0                Joe Burrow               LSU
1             Chase Young †        Ohio State
2               Jeff Okudah        Ohio State
3             Andrew Thomas           Georgia
4            Tua Tagovailoa           Alabama
...                     ...               ...
1277  Prince Charles Iworah  Western Kentucky
1278          Scooby Wright           Arizona
1279             Joe Walker            Oregon
1280          Beau Sandland     Montana State
1281             Kalan Reed     Southern Miss

[1282 rows x 2 columns]

In [24]:
combined_df = pd.concat([draft_player_df, combine_player_df])
combined_df.tail()

              player         school
1694    Daryl Worley  West Virginia
1695  Connor Wujciak    Boston Col.
1696     Tavon Young         Temple
1697     Avery Young         Auburn
1698  Anthony Zettel     Penn State

In [31]:
players_df = combined_df.drop_duplicates(subset= None, keep='first')
players_df

                player             school
0           Joe Burrow                LSU
1        Chase Young †         Ohio State
2          Jeff Okudah         Ohio State
3        Andrew Thomas            Georgia
4       Tua Tagovailoa            Alabama
...                ...                ...
1691  De'Runnya Wilson  Mississippi State
1692      Josh Woodrum            Liberty
1693     Antwaun Woods                USC
1695    Connor Wujciak        Boston Col.
1697       Avery Young             Auburn

[2089 rows x 2 columns]

In [53]:
# Connect to local database
# Pior: Create a python file called info in your local repo with user, password and database name.

# from secrets import user, password, database
rds_connection_string = f'{username}:{password}@localhost:5432/nfl_db'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [54]:
# Check the tables names to make sure where are we posting
engine.table_names()

['player', 'combine', 'draft']

In [55]:
# Append data using pandas. name stands for table name, change it if neccesary.
players_df.to_sql(name='player', con=engine, if_exists='append', index=False)

In [56]:
#Confirm the data has been appended. Check table name.
pd.read_sql_query('select * from player', con=engine).head()

   id          player      school
0   1      Joe Burrow         LSU
1   2   Chase Young †  Ohio State
2   3     Jeff Okudah  Ohio State
3   4   Andrew Thomas     Georgia
4   5  Tua Tagovailoa     Alabama

In [57]:
player_id_df=pd.read_sql_query('select * from player', con=engine)
player_id_df

        id            player             school
0        1        Joe Burrow                LSU
1        2     Chase Young †         Ohio State
2        3       Jeff Okudah         Ohio State
3        4     Andrew Thomas            Georgia
4        5    Tua Tagovailoa            Alabama
...    ...               ...                ...
2084  2085  De'Runnya Wilson  Mississippi State
2085  2086      Josh Woodrum            Liberty
2086  2087     Antwaun Woods                USC
2087  2088    Connor Wujciak        Boston Col.
2088  2089       Avery Young             Auburn

[2089 rows x 3 columns]

In [58]:
combine_df_final = pd.merge(combine_df, player_id_df, how='inner', on='player')
combine_df_final

,player,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year,id,school
0,Trey Adams,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020,1283,Washington
1,Hakeem Adeniji,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN,2020,181,Kansas
2,McTelvin Agim,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020,95,Arkansas
3,Salvon Ahmed,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020,1284,Washington
4,Brandon Aiyuk,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN,2020,25,Arizona State
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783,Daryl Worley,West Virginia,6-1,204,4.64,35.5,14,123,6.98,4.15,2016,1103,West Virginia
1784,Connor Wujciak,Boston Col.,6-2,291,4.91,34.5,22,117,7.32,4.27,2016,2088,Boston Col.
1785,Tavon Young,Temple,5-9,183,4.46,34.5,9,118,6.80,3.93,2016,1131,Temple
1786,Avery Young,Auburn,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,2016,2089,Auburn
1787,Anthony Zettel,Penn State,6-4,277,4.81,30.5,28,109,7.63,4.39,2016,1231,Penn State

In [59]:
combine_df_final = combine_df_final.drop(columns = ['school', 'School','player'])
combine_df_final = combine_df_final.rename(columns = {'id':'player_id'})
combine_df_final

        Ht   Wt  40yd Vertical Bench Broad Jump 3Cone Shuttle  year  player_id
0      6-8  318  5.60     24.5   NaN         92   NaN     NaN  2020       1283
1      6-4  302  5.17     34.0    26        115   NaN     NaN  2020        181
2      6-3  309  4.98      NaN    27        NaN   NaN     NaN  2020         95
3     5-11  197  4.62     34.5   NaN        120   NaN     NaN  2020       1284
4      6-0  205  4.50     40.0    11        128   NaN     NaN  2020         25
...    ...  ...   ...      ...   ...        ...   ...     ...   ...        ...
1783   6-1  204  4.64     35.5    14        123  6.98    4.15  2016       1103
1784   6-2  291  4.91     34.5    22        117  7.32    4.27  2016       2088
1785   5-9  183  4.46     34.5     9        118  6.80    3.93  2016       1131
1786   6-5  328  5.39      NaN   NaN        NaN  8.22    4.91  2016       2089
1787   6-4  277  4.81     30.5    28        109  7.63    4.39  2016       1231

[1788 rows x 10 columns]

In [62]:
combine_table=engine.execute('SELECT * FROM combine')
print(combine_table.keys())

['player_id', 'Ht', 'Wt', '40yd', 'Vertical', 'Bench', 'Broad Jump', '3Cone', 'Shuttle', 'year']