In [1]:
import pandas as pd

## Scrap the data from the web using pandas

In [2]:
#url to 5 years period combine stats

url2020 = 'https://www.pro-football-reference.com/draft/2020-combine.htm#combine'
url2019 = 'https://www.pro-football-reference.com/draft/2019-combine.htm'
url2018 = 'https://www.pro-football-reference.com/draft/2018-combine.htm'
url2017 = 'https://www.pro-football-reference.com/draft/2017-combine.htm'
url2016 =  'https://www.pro-football-reference.com/draft/2016-combine.htm'
url2015 = 'https://www.pro-football-reference.com/draft/2015-combine.htm'

In [3]:
#tables for 5 years period
tables2020 = pd.read_html(url2020)
tables2019 = pd.read_html(url2019)
tables2018 = pd.read_html(url2018)
tables2017 = pd.read_html(url2017)
tables2016 = pd.read_html(url2016)

In [4]:
#Check the type
type(tables2020)

list

In [5]:
#check the lenght
len(tables2020)

1

# Clean the data using pandas
* Convert the data into a DataFrame
* Delete (drop) the columns we are not using: 'College' and 'Drafted (tm/rnd/yr)'

In [6]:
# Convert the tables to a DataFrame
df_2020 = tables2020[0]
df_2019 = tables2019[0]
df_2018 = tables2018[0]
df_2017 = tables2017[0]
df_2016 = tables2016[0]

In [7]:
# Clean 2020 DataFrame
df2020 = df_2020.drop(columns = 'Drafted (tm/rnd/yr)')
df2020 = df2020.drop(columns = 'College')
df2020

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Trey Adams,OL,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN
1,Hakeem Adeniji,OL,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN
2,McTelvin Agim,DL,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN
3,Salvon Ahmed,RB,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN
4,Brandon Aiyuk,WR,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
338,D.J. Wonnum,DL,South Carolina,6-5,258,4.73,34.5,20,123,7.25,4.44
339,Dom Wood-Anderson,TE,Tennessee,6-4,261,4.92,35.0,NaN,119,NaN,NaN
340,David Woodward,LB,Utah State,6-2,230,4.79,33.5,16,114,7.34,4.37
341,Chase Young,DL,Ohio State,6-5,264,NaN,NaN,NaN,NaN,NaN,NaN
342,Jabari Zuniga,DL,Florida,6-3,264,4.64,33.0,29,127,NaN,NaN

In [8]:
# Clean 2019 DataFrame
df2019 = df_2019.drop(columns = 'Drafted (tm/rnd/yr)')
df2019 = df2019.drop(columns = 'College')
df2019

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Johnathan Abram,S,Mississippi State,5-11,205,4.45,NaN,NaN,116,NaN,NaN
1,Paul Adams,OT,Missouri,6-6,317,5.18,27.0,16,103,7.68,4.74
2,Nasir Adderley,S,Delaware,6-0,206,NaN,NaN,NaN,NaN,NaN,NaN
3,Azeez Al-Shaair,LB,Florida Atlantic,6-1,234,NaN,NaN,16,NaN,NaN,NaN
4,Otaro Alaka,LB,Texas A&M,6-3,239,4.82,36.0,20,131,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
338,Zedrick Woods,S,Mississippi,5-11,205,4.29,34.5,19,122,7.00,4.15
339,Evan Worthington,S,Colorado,6-2,212,4.63,33.5,17,121,7.07,4.37
340,Renell Wren,DL,Arizona State,6-5,318,5.01,32.0,30,118,7.65,4.53
341,Oshane Ximines,EDGE,Old Dominion,6-3,253,4.78,34.0,24,118,7.13,4.57
342,Rock Ya-Sin,CB,Temple,6-0,192,4.51,39.5,18,120,7.31,4.31

In [9]:
# Clean 2018 DataFrame
df2018 = df_2018.drop(columns = 'Drafted (tm/rnd/yr)')
df2018 = df2018.drop(columns = 'College')
df2018

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Dante Pettis,WR,Washington,6-0,186,NaN,NaN,NaN,NaN,NaN,NaN
1,Kemoko Turay,EDGE,Rutgers,6-5,253,4.65,NaN,NaN,NaN,NaN,NaN
2,Josh Adams,RB,Notre Dame,6-2,213,NaN,NaN,18,NaN,NaN,NaN
3,Ola Adeniyi,EDGE,Toledo,6-2,248,4.83,31.5,26,NaN,7.21,4.28
4,Jordan Akins,TE,Central Florida,6-3,249,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
337,Chris Worley,ILB,Ohio State,6-2,238,4.86,29.5,15,NaN,NaN,NaN
338,Isaiah Wynn,OG,Georgia,6-3,313,NaN,NaN,NaN,NaN,NaN,NaN
339,Isaac Yiadom,CB,Boston Col.,6-1,190,4.52,NaN,8,120,NaN,4.18
340,Kenny Young,ILB,UCLA,6-1,236,4.60,36.0,23,117,7.38,4.48
341,Trevon Young,EDGE,Louisville,6-4,258,4.78,33.0,25,114,6.99,4.40

In [10]:
# Clean 2017 DataFrame
df2017 = df_2017.drop(columns = 'Drafted (tm/rnd/yr)')
df2017 = df2017.drop(columns = 'College')
df2017

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Rodney Adams,WR,South Florida,6-1,189,4.44,29.5,8,125,6.98,4.28
1,Montravius Adams,DT,Auburn,6-4,304,4.87,29.0,22,108,7.62,4.89
2,Jamal Adams,S,LSU,6-0,214,4.56,31.5,18,120,6.96,4.13
3,Quincy Adeboyejo,WR,Mississippi,6-3,197,4.42,34.5,8,123,6.73,4.14
4,Jonathan Allen,DT,Alabama,6-3,286,5.00,30.0,21,108,7.49,4.50
...,...,...,...,...,...,...,...,...,...,...,...
328,Jesus Wilson,WR,Florida State,5-9,189,4.57,NaN,10,119,NaN,4.57
329,Howard Wilson,CB,Houston,6-1,184,4.57,33.5,NaN,119,6.68,3.94
330,Ahkello Witherspoon,CB,Colorado,6-3,198,4.45,40.5,NaN,127,6.93,4.13
331,Xavier Woods,S,Louisiana Tech,5-11,197,4.54,33.5,19,122,6.72,4.13
332,Chris Wormley,DT,Michigan,6-5,298,NaN,NaN,23,NaN,NaN,NaN

In [11]:
# Clean 2016 DataFrame
df2016 = df_2016.drop(columns = 'Drafted (tm/rnd/yr)')
df2016 = df2016.drop(columns = 'College')
df2016

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle
0,Mehdi Abdesmad,DE,Boston Col.,6-6,284,5.10,29.5,25,108,7.55,4.62
1,Vernon Adams,QB,Oregon,5-11,200,4.83,29.5,NaN,114,6.82,4.20
2,Jerell Adams,TE,South Carolina,6-5,247,4.64,32.5,NaN,117,7.05,4.31
3,Bralon Addison,WR,Oregon,5-9,197,4.66,34.5,13,116,6.95,4.14
4,Roberto Aguayo,K,Florida State,6-0,207,4.96,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
333,Daryl Worley,CB,West Virginia,6-1,204,4.64,35.5,14,123,6.98,4.15
334,Connor Wujciak,DT,Boston Col.,6-2,291,4.91,34.5,22,117,7.32,4.27
335,Tavon Young,CB,Temple,5-9,183,4.46,34.5,9,118,6.80,3.93
336,Avery Young,OT,Auburn,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91
337,Anthony Zettel,DT,Penn State,6-4,277,4.81,30.5,28,109,7.63,4.39

## Append the data into a single DataFrame to post it to the database

In [12]:
# Add a year column for data storage porpuses
df2020['year']='2020'
df2019['year']='2019'
df2018['year']='2018'
df2017['year']='2017'
df2016['year']='2016'
df2020

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year
0,Trey Adams,OL,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020
1,Hakeem Adeniji,OL,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN,2020
2,McTelvin Agim,DL,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020
3,Salvon Ahmed,RB,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020
4,Brandon Aiyuk,WR,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
338,D.J. Wonnum,DL,South Carolina,6-5,258,4.73,34.5,20,123,7.25,4.44,2020
339,Dom Wood-Anderson,TE,Tennessee,6-4,261,4.92,35.0,NaN,119,NaN,NaN,2020
340,David Woodward,LB,Utah State,6-2,230,4.79,33.5,16,114,7.34,4.37,2020
341,Chase Young,DL,Ohio State,6-5,264,NaN,NaN,NaN,NaN,NaN,NaN,2020
342,Jabari Zuniga,DL,Florida,6-3,264,4.64,33.0,29,127,NaN,NaN,2020

In [13]:
# Append the 5 years DataFrames into one for storage porpuses
df = df2020.append(df2019,ignore_index=True,verify_integrity=True)
df = df.append(df2018,ignore_index=True,verify_integrity=True)
df = df.append(df2017,ignore_index=True,verify_integrity=True)
df = df.append(df2016,ignore_index=True,verify_integrity=True)

df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year
0,Trey Adams,OL,Washington,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020
1,Hakeem Adeniji,OL,Kansas,6-4,302,5.17,34.0,26,115,NaN,NaN,2020
2,McTelvin Agim,DL,Arkansas,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020
3,Salvon Ahmed,RB,Washington,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020
4,Brandon Aiyuk,WR,Arizona State,6-0,205,4.50,40.0,11,128,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...
1694,Daryl Worley,CB,West Virginia,6-1,204,4.64,35.5,14,123,6.98,4.15,2016
1695,Connor Wujciak,DT,Boston Col.,6-2,291,4.91,34.5,22,117,7.32,4.27,2016
1696,Tavon Young,CB,Temple,5-9,183,4.46,34.5,9,118,6.80,3.93,2016
1697,Avery Young,OT,Auburn,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,2016
1698,Anthony Zettel,DT,Penn State,6-4,277,4.81,30.5,28,109,7.63,4.39,2016

In [20]:
# Create players dataframe

player = df['Player']
pos = df['Pos']
school = df['School']

player_df = {"player":player,
                "pos":pos,
                "school":school}
player_df = pd.DataFrame(player_df)
player_df

              player pos         school
0         Trey Adams  OL     Washington
1     Hakeem Adeniji  OL         Kansas
2      McTelvin Agim  DL       Arkansas
3       Salvon Ahmed  RB     Washington
4      Brandon Aiyuk  WR  Arizona State
...              ...  ..            ...
1694    Daryl Worley  CB  West Virginia
1695  Connor Wujciak  DT    Boston Col.
1696     Tavon Young  CB         Temple
1697     Avery Young  OT         Auburn
1698  Anthony Zettel  DT     Penn State

[1699 rows x 3 columns]

In [22]:
combine_df = df.drop(columns='Pos')
combine_df = df.drop(columns='School')
combine_df

,Player,Pos,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,year
0,Trey Adams,OL,6-8,318,5.60,24.5,NaN,92,NaN,NaN,2020
1,Hakeem Adeniji,OL,6-4,302,5.17,34.0,26,115,NaN,NaN,2020
2,McTelvin Agim,DL,6-3,309,4.98,NaN,27,NaN,NaN,NaN,2020
3,Salvon Ahmed,RB,5-11,197,4.62,34.5,NaN,120,NaN,NaN,2020
4,Brandon Aiyuk,WR,6-0,205,4.50,40.0,11,128,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...
1694,Daryl Worley,CB,6-1,204,4.64,35.5,14,123,6.98,4.15,2016
1695,Connor Wujciak,DT,6-2,291,4.91,34.5,22,117,7.32,4.27,2016
1696,Tavon Young,CB,5-9,183,4.46,34.5,9,118,6.80,3.93,2016
1697,Avery Young,OT,6-5,328,5.39,NaN,NaN,NaN,8.22,4.91,2016
1698,Anthony Zettel,DT,6-4,277,4.81,30.5,28,109,7.63,4.39,2016

              player position         school
0         Trey Adams       OL     Washington
1     Hakeem Adeniji       OL         Kansas
2      McTelvin Agim       DL       Arkansas
3       Salvon Ahmed       RB     Washington
4      Brandon Aiyuk       WR  Arizona State
...              ...      ...            ...
1694    Daryl Worley       CB  West Virginia
1695  Connor Wujciak       DT    Boston Col.
1696     Tavon Young       CB         Temple
1697     Avery Young       OT         Auburn
1698  Anthony Zettel       DT     Penn State

[1699 rows x 3 columns]

# Post to the SQL Database

## Dataframes to post in the database:

* players_df
* combine_df

In [14]:
# Connect to local database
# Pior: Create a python file called info in your local repo with user, password and database name.

from info import user, password, database
#rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
rds_connection_string = f'{user}:{password}@localhost:5432/{database}"
engine = create_engine(f'postgresql://{rds_connection_string}')

SyntaxError: EOL while scanning string literal (<ipython-input-14-5d2f8d8e3a39>, line 6)

In [ ]:
# Check the tables names to make sure where are we posting
engine.table_names()

In [ ]:
# Append data using pandas. name stands for table name, change it if neccesary.
df.to_sql(name='combine_stats', con=engine, if_exists='append', index=False)

In [ ]:
#Confirm the data has been appended. Check table name.
pd.read_sql_query('select * from combine_stats', con=engine).head()